{% extends "base.html" %}
{% block content %}
    <div class="card-body">

        <div class="row">

            <div class="offset-1 col-10 list-div">
                <img class="resizable-image" src="https://images.idgesg.net/images/idge/imported/imageapi/2022/05/26/23/hand_controls_interconnecting_gears_process_automation_machinery_mechanism_efficiency_by_anawat_s_gettyimages-1163061322_2400x1600-100858595-large-100928471-large.jpg" alt="AUT SOLUTIONS" width=700 height=400 id="img-home">
                <h1>Bem vindo a Engineering Solutions!</h1>
                <p>Sua plataforma de soluções em engenharia</p>
            </div>
    
        </div>

    </div> 

{% endblock content %}