{% extends 'base.html' %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Entrar no To Do List</h3>
                    </div>
                    <form id="quickForm" novalidate="novalidate" method="post" action="{% url 'admin:index' %}">
                        <div class="card-body">
                            <div class="form-group">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}" id="exampleInputEmail1">
                                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                            </div>
                        
                    </form>
                    <p class="change-form-p">Quer criar uma conta? <a href="{% url 'register' %}">Clique aqui!</a></p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>

{% endblock %}







